<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514128207933-v4a7she6me9eht3co86gsfj3e88nhpc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514128207933-v4a7she6me9eht3co86gsfj3e88nhpc0</string>
	<key>API_KEY</key>
	<string>AIzaSyA22R06J9qenxFB6H9xkuq3U1pjmVevaEY</string>
	<key>GCM_SENDER_ID</key>
	<string>514128207933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.recess.app</string>
	<key>PROJECT_ID</key>
	<string>recess-68407</string>
	<key>STORAGE_BUCKET</key>
	<string>recess-68407.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514128207933:ios:90e7a316dab9393f6dca54</string>
</dict>
</plist>